<section class="header">
  <div class="cortina h-screen">

    <app-nav></app-nav>
    <!-- <app-nav></app-nav> -->
    <header class="text-center w-3/4 justify-center m-auto pt-32 pb-28">
        <h1 class="text-4xl text-white py-5">EXPLORA LAS VIAS FERREAS</h1>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis,
        lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo,</p>
      </header>
      
      <form class="w-3/4 mx-auto">   
        <div class="relative flex">
            <!-- CONTENEDOR DEL ICONO DEL BUSCADOR -->
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
            </div>
            <!-- 3 BUSCADOR DE JOHN -->
            <!-- 3<input [(ngModel)]="searchTerm" ngOnChange("onSearch()") (keyup.enter)="onSearch()" type="text"  id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 " placeholder="Ciudad Origen" required /> -->
            <!-- 3<button (click)="onSearch()" (ngModelChange)="onSearch()" type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Buscar</button> -->
        </div>
        
      </form>
    </div>
</section>

<section class="my-20">
    <h2 class="text-center text-3xl w-full">OFERTAS DESDE BOGOTA</h2>
    <!-- CONTENDER DE LAS CARD -->
    <!-- Ford para iterar las CARD en relacion a la cantidad de viajes existentes en la db -->
      
      <div class=" flex p-5">
        <!-- CARD 1 -->
        @for(usu of usuarios; track usu.id){
        <div class="card p-5 w-full max-w-sm border border-gray-200 rounded-lg shadow">
        
            <a href="#">
                <h5 class="text-xl font-semibold tracking-tight text-gray-900">{{ usu.firstName }}</h5>
                <p>Por Trayecto desde:</p>
            </a>
            <div class="">
                <span class="text-3xl font-bold text-gray-900">{{ usu.lastName }}</span>
            </div>
            <div class="">
              <span class="text-3xl font-bold text-gray-900">{{ usu.createdDate | date: 'dd/MM/yyyy hh:mm a' }}</span>
          </div>

        </div>
        }
      </div>
</section>

<section class="my-20">
  <h2 class="text-center text-3xl w-full">NOTICIAS SOBRE LAS VIAS FERREAS</h2>
  <!-- CONTENDER DE LAS CARD -->
  <!-- Ford para iterar las CARD en relacion a la cantidad de viajes existentes en la db -->
    
    <div class="flex p-5">
      <!-- CARD 1 -->
      @for(usu of usuarios; track usu.id){
        <div class="snap-start shrink-0 w-full sm:w-1/3 bg-white rounded-lg shadow-lg overflow-hidden">
          <img src="https://placehold.co/400x300" alt="Railway track through greenery">
          <div class="p-4">
              <h3 class="text-lg font-semibold">EN UN PROYECTO PARA COLOMBIA UNA RED DE ALTAS PRESTACIONES</h3>
          </div>
        </div>
      }
    </div>
</section>

<section class="my-20">
  <h2 class="text-center text-3xl w-full">COMO LLEGAR</h2>
  <div class="direcciones flex justify-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.5508890340166!2d-74.4733043268928!3d5.013980538865982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e409b01efed9155%3A0xcbd1ad2cff2a2fb3!2sPropiedades%20Finca%20ra%C3%ADz%20R%26H!5e0!3m2!1ses!2sco!4v1713977888972!5m2!1ses!2sco"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <ul class="content-center">
      <li>Calle 4 # 2-99 este, diagonal al bancolombia</li>
      <li>trencentral.gmail.com</li>
      <li>+57 320 876 8790</li>
    </ul>
  </div>
  
</section>

<section>
  <h2 class="text-center text-3xl w-full">OPINIONES DE NUESTROS CLIENTES</h2>    
</section>


